certifi==2020.12.5
chardet==3.0.4
Django==2.0.7
django-ace==1.0.10
django-crispy-forms==1.10.0
django-datetime-widget==0.9.3
django-sortedm2m==1.5.0
django-widget-tweaks==1.4.8
idna==2.10
Pillow==8.1.0
psycopg2-binary==2.8.6
python-dateutil==2.7.5
pytz==2018.7
requests==2.25.0
six==1.12.0
urllib3==1.26.2
